!!! 5
%html
  %head
    %title ValidarIDE
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = css :application
    = js :foundation
    = js :application
  %body
    %nav.top-bar
      %ul.title-area
        / Title Area
        %li.name
          %h1
            %a.foundicon-graph{:href => "/"}
              Validar IDE
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span menu
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li.divider
          %li.has-dropdown
            %a{:href => "#"} Main Item 1
            %ul.dropdown
              %li
                %label Section Name
              %li.has-dropdown
                %a{:href => "#"} Has Dropdown, Level 1
                %ul.dropdown
                  %li
                    %a{:href => "#"} Dropdown Options
                  %li
                    %a{:href => "#"} Dropdown Options
                  %li
                    %a{:href => "#"} Level 2
                  %li
                    %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li.divider
              %li
                %label Section Name
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li.divider
              %li
                %a{:href => "#"} See all &rarr;
          %li.divider
          %li
            %a{:href => "#"} Main Item 2
          %li.divider
          %li.has-dropdown
            %a{:href => "#"} Main Item 3
            %ul.dropdown
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li.divider
              %li
                %a{:href => "#"} See all &rarr;
    / End Top Bar
    / Main Page Content and Sidebar
    .row
      / Contact Details
      .large-9.columns
        = yield
      / End Contact Details
      / Sidebar
      .large-3.columns.panel
        = yield_content :sidebar
      / End Sidebar
    / End Main Content and Sidebar
    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            © Copyright
            %a{href: 'http://logicalbricks.com'}LogicalBricks Solutions.
            2013.
          .large-6.columns
            %ul.inline-list.right
              %li
                %a{:href => "#"} ¿No tienes cómo enviar tus declaraciones?
    / End Footer
